h1 {
    font-family: fantasy;
    color: red;
    border: 2px dashed green;
    float: left;
}

h2 {
    font-family: cursive;
    border: 2px solid blue;
    float: left;
}


tr:hover, td:hover {
    background-color: #71EEB8;
}

tr:first-of-type{
    padding: 5px;
    background-color: #2fe2f9;
}
a:hover {
    font-size: large;
}

a:visited {
    color: green;
    padding: 4px;
    
}

body {
    background-image: url("cloth-569222_960_720.jpg");
    background-position: top;
    background-attachment: fixed;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

p {
    font-size: small;
}

.secret {
    font-size: 0;
    font-stretch: ultra-condensed;
    position: absolute;
}

.line {
    display: inline-block;
    position: relative;
    border: 5px dotted red;
    
}


/*body {*/
    /*background-image: url("http://www.circlek.org/Libraries/2013_branding_design_elements/graphic_CKI_horizontal_stripesblue_RGB.sflb.ashx");
    background-position: center;*/
/*}*/

